body,
p,
h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 22px;
  text-decoration: none;
}

.hamburger {
  display: none;
}

body,
h1 {
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

nav {
  background-color: rgb(3, 30, 80);
  display: flex;
  justify-content: center;
  padding: 20px;
}

nav img {
  float: left;
  height: 40px;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  border-bottom: none;
}

#home {
  background-image: url(https://img.freepik.com/foto-gratis/cielo-colorido-despues-puesta-sol_661209-461.jpg?t=st=1712096057~exp=1712099657~hmac=5f675e67c271b22ec7180720b6c3c8d3b29b74a39784028fba1f45d8d6872a38&w=740);
  background-attachment: fixed;
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#destinations h3 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#contact {
  background-image: url(https://images.unsplash.com/photo-1696117441480-f3873f04432d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  color: white;
  padding: 50px;
}

#avion {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  margin-top: 200px;
}

#carouselDestinations {
  border: 1px solid #b6e8ff;
  border-radius: 0px;
  overflow: hidden;
}

#carouselDestinations .carousel-item img {
  max-width: 100%;
}

#carouselDestinations .carousel-item {
  height: auto;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  height: auto;
}

/* SECCION HISTORIA*/

.quienes-somos {
  padding: 50px 0;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-realista_23-2149023991.jpg?w=1380);
}

.quienes-somos h1 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 30px;
}

.quienes-somos .card {
  margin-bottom: 30px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.quienes-somos .card img {
  max-width: 100%;
  height: 500%;
}

/*seccion rutas*/

#rutas{

  background-image: url(https://images.unsplash.com/photo-1528458909336-e7a0adfed0a5?q=80&w=1948&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  
  
}

.nav-tabs {
  margin-bottom: 30px; 
}


.nav-tabs .nav-link {
  text-decoration: none; 
  color: #0b0b0c;
  background-color: #299eec;
  margin-top: 30px;
}

.card {
  margin-bottom: 30px; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
}

.card-img-top {
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px; 
}

.card-title {
  font-size: 20px; 
  font-weight: bold; 
}

.card-text {
  font-size: 16px; 
}


.nav-tabs {
  margin-bottom: 30px; 

}


.tab-content {
  padding: 20px 0; 
}


.col-md-4 {
  padding-right: 15px; 
  padding-left: 15px; 
}

#internacionales .col-md-4 {
  flex: 0 0 50%; 
  max-width: 50%; 
  margin: 0 auto;
}

#internacionales .card {
  margin-bottom: 30px; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  text-align: center; 
}

@media screen and (min-width: 375px) and (max-width: 1366px) {
  nav {
    padding: 60px;
    position: relative;
  }

  body,
  p, 
  h1,
  h2,
  h3,
  h4 {
    font-size: 10px;
    margin: 1px;
    margin-top: 5px;
  }

  nav img {
    height: 50px;
  }

  nav ul {
    flex-direction: column;
    padding: 0;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    padding: 50px;
  }

  #carouselDestinations .carousel-item img {
    width: 100vw; 
    height: auto; 
}

#carouselDestinations .carousel-item {
    width: 100vw; 
    height: auto;
}

#carouselDestinations .carousel-inner {
    width: 100%; 
    height: auto;
}

#destinations {
    width: 100vw; 
    height: auto; 
    
}


  #home {
    
    font-size: 50px;
  }

  #home h1,h2{

    font-size: 40px;
  }

  #home h3{

    font-size: 25px;
  }

  #home h3:nth-of-type(2) {
    margin-bottom: 25px;
    font-size: 25px;
  }

  #avion {
    display: none;
  }

  .footer {
    padding: 50px;
  }

  .quienes-somos .card {
    flex: 1;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  #nacionales-tab, #internacionales-tab {
    margin-top: 38px; 
  }

}

  @media screen and (min-width: 375px) and (max-width: 1366px) {
    .menu {
      position: fixed;
      top: 174px;
      right: 0;
      max-height: calc(4vh - 10px);
      overflow-y: auto;
      width: 998px;
      font-size: 9px;
      overflow-y: auto;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 20px;
      box-sizing: border-box;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      margin-top: 1px;
      padding-top: 0;
      z-index: 1000;
      white-space: nowrap;
    }

    .menu.active {
      transform: translateX(0);
    }

    .menu li {
      display: inline-block;
      margin-bottom: 10px;
    }

    .menu li:last-child {
      margin-bottom: 0;
    }

    .menu li a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 2px 5px;
      font-size: 14px;
    }

    .hamburger-menu {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 20px;
      z-index: 1000;
      position: relative;
    }

    .bar {
      width: 100%;
      height: 2px;
      background-color: white;
      margin: 2px 0;
    }
  }



@media screen and (min-width: 375px) and (max-width: 667px) {
  .menu {
    position: fixed;
    top: 173px;
    right: 0;
    max-height: calc(5vh - 2px);
    overflow-y: auto;
    width: 390px;
    font-size: 9px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    margin-top: 1px;
    padding-top: 0;
    z-index: 1000;
    white-space: nowrap;
  }

  .menu.active {
    transform: translateX(0);
  }

  .menu li {
    display: inline-block;
    margin-bottom: 10px;
  }

  .menu li:last-child {
    margin-bottom: 0;
  }

  .menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 2px 5px;
    font-size: 14px;
  }

  .hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 20px;
    z-index: 1000;
    position: relative;
  }

  .bar {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 2px 0;
  }
}

@media (max-width: 767.98px) {
  #internacionales .col-md-4 {
    flex: 0 0 100%; 
    max-width: 100%; 
  }

  .nav-tabs {
    margin-bottom: 30px; /* Espacio entre las pestañas y el contenido */
  }

  .nav-tabs .nav-item {
    margin-bottom: 10px; /* Ajustar el espacio entre los botones de pestañas */
  }

  
  #nacionales-tab, #internacionales-tab {
    margin-top: 38px; 
  }

  
}
