body,
p,
h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
}

body,
h1 {

    font-weight: bold;
    transition: transform 0.3s ease-in-out;

}


nav {
    background-color: rgb(3, 30, 80);
    padding: 20px;
}

nav img {
    float: left;
    height: 40px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    border-bottom: none;
}


#home {
    background-image: url(https://assets-us-01.kc-usercontent.com/b2956330-c34f-0064-2c6f-27bd5c0147fc/446a58bc-ba29-4ac5-8575-c24837165044/Fondo-Banner%20%2812%29.jpg?w=1920&h=500&fit=crop&auto=format&q=60&fm=jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#destinations h3 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}


#contact {
    background-color: brown;
    color: white;
    padding: 50px;
    

}

#avion {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    margin-top: 200px;


}

#carouselDestinations {
    border: 5px solid #4e4949; 
    border-radius: 5px; 
    overflow: hidden; 
    margin-bottom: 0.5px; 
}


#carouselDestinations .carousel-item img {
    
    max-width: 100%;
}

#carouselDestinations .carousel-item {
    height: auto;
}



footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}


/* media query index*/

/*moviles*/
@media only screen and (min-width: 250px) and (max-width: 768px) {
    nav img {
        height: 30px;
        margin-right: 10px;
    }
    
    nav ul li {
        margin-right: 10px;
    }
    
    #home {
        padding: 30px;
    }
    
    #contact {
        padding: 30px;
    }
    
    #avion {
        margin-top: 30px;
    }

    #carouselDestinations .carousel-item img {
        height: auto;
        max-width: 100%;
    }
    
    #carouselDestinations .carousel-item {
        height: auto;
    }
    
    #carouselDestinations .carousel-caption {
        display: none; 
    }
}

/*tablets*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    nav img {
        height: 35px;
        margin-right: 15px;
    }

    nav ul li {
        margin-right: 15px;
    }

    #home {
        padding: 40px;
    }

    #contact {
        padding: 40px;
    }

    #avion {
        margin-top: 40px;
    }
}